/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;

  font-display: swap;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/montserrat-v25-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;

  font-display: swap;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;

  font-display: swap;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/montserrat-v25-latin_cyrillic-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --border-radius: 32px;
  /* Шрифты */

  --montserrat: "Montserrat";
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --dafault-fs: 16px;
  --dafault-lh: 32px;
  /* Цвета */
  --dark: #333333;
  --footer-bc: #000000;
  --footer-input: #414141;
  --dark-transparent: rgba(0, 0, 0, .5);
  --gray-blue: #576b8f;
  --gray-btn: #666666;
  --gray-border: #cacaca;
  --white: #ffffff;
  --orange: #ff9900;
  --orange-transparent: #ffb84d;
  --orange-about: #ff9900;
  --dark-orange: #e1670e;
  --green: #97ee3f;
  /* Sizes */
  --body-min-width: 320px;
  --container-max-width: 1870px;
  --container-padding: 50px;
  --border-btn: 16px;
  /* Transition */
  --short: .3s;
  --medium-trans: .5s;
  /* hero-slider */
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-width: 15px;
  --swiper-pagination-bullet-height: 15px;
  --swiper-pagination-bullet-horizontal-gap: 10px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: .4;
}

@media (max-width: 576px) {
  :root {
    --container-padding: 15px;
    --dafault-fs: 14px;
    --dafault-lh: 28px;

    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
  }
}

/* glob */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
svg {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-width: var(--body-min-width);
  font-family: var(--montserrat), sans-serif;
  font-size: var(--dafault-fs);
  line-height: var(--dafault-lh);
  color: var(--dark);
  background-color: var(--white);
}

.container {
  max-width: var(--container-max-width);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
}

.reset-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.reset-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: var(--regular);
  line-height: 58.51px;
}

.text {
  margin-top: 0;
  margin-bottom: 50px;
}

.text:last-child {
  margin-bottom: 0;
}

.color-lightgray {
  color: var(--gray-border);
}

@media (max-width: 1280px) {
  .text {
    margin-bottom: 60px;
  }
}

@media (max-width: 962px) {
  .text {
    margin-bottom: 54px;
  }
}

@media (max-width: 576px) {
  .section-title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 29.26px;
  }

  .text {
    margin-bottom: 12px;
    font-weight: var(--regular);
  }
}

@keyframes fede-in {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes menu-open {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes menu-close {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes search-open {
  from {
    transform: scaleX(0);
    opacity: 0;
  }

  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes search-close {
  from {
    transform: scaleX(1);
    opacity: 1;
  }

  to {
    transform: scaleX(0);
    opacity: 0;
  }
}

.hamburger {
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity, filter;
}

.hamburger.is-active .hamburger__inner,
.hamburger.is-active .hamburger__inner::before,
.hamburger.is-active .hamburger__inner::after {
  background-color: var(--dark);
}

.hamburger__box {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hamburger__inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  position: absolute;
  min-width: 30px;
  height: 3px;
  background-color: var(--dark);
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  display: block;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  bottom: -10px;
}

.hamburger--emphatic {
  overflow: hidden;
}

.hamburger--emphatic .hamburger__inner {
  transition: background-color .125s .175s ease-in;
}

.hamburger--emphatic .hamburger__inner::before {
  left: 0;
  transition: transform .125s cubic-bezier(.6, .04, .98, .335), top .05s .125s linear, left .125s .175s ease-in;
}

.hamburger--emphatic .hamburger__inner::after {
  top: 10px;
  right: 0;
  transition: transform .125s cubic-bezier(.6, .04, .98, .335), top .05s .125s linear, right .125s .175s ease-in;
}

.hamburger--emphatic.is-active .hamburger__inner {
  background-color: transparent !important;
  transition-delay: 0s;
  transition-timing-function: ease-out;
}

.hamburger--emphatic.is-active .hamburger__inner::before {
  top: -80px;
  left: -80px;
  transition: left .125s ease-out, top .05s .125s linear, transform .125s .175s cubic-bezier(.075, .82, .165, 1);
  transform: translate3d(80px, 80px, 0) rotate(45deg);
}

.hamburger--emphatic.is-active .hamburger__inner::after {
  top: -80px;
  right: -80px;
  transition: right .125s ease-out, top .05s .125s linear, transform .125s .175s cubic-bezier(.075, .82, .165, 1);
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
}

/* Header */
.header {
  min-height: 100px;
  margin-bottom: 28px;
  padding-top: 16px;
  padding-bottom: 14px;
  border-radius: 0 0 32px 32px;
  background-color: var(--white);
  box-shadow: 0 5px 40px rgba(0, 0, 0, .1);
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__burger {
  display: none;
}

.header__logo,
.header__search-btn {
  flex-shrink: 0;
}

.header__logo {
  width: 224px;
  height: 72px;
}

.header__nav,
.header__menu {
  display: flex;
}

.header__nav {
  align-items: center;
}

.header__menu {
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: var(--semibold);
  line-height: 22px;
}

.header__menu-item {
  margin-right: 261px;
}

.header__menu-item:not(:last-child) {
  margin-right: 85px;
}

.header__menu-link {
  position: relative;
  outline: none;
}

.header__menu-link::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--orange);
  transition: transform var(--short);
  transform: scaleX(0);
}

/* .header__menu-link:hover:not(:active)::after {
  transform: scaleX(1);
} */

.header__menu-link:focus-visible:not(:hover):not(:active) {
  outline: 2px solid var(--orange);
  outline-offset: 5px;
}

.header__menu-link:active {
  color: var(--dark-orange);
}

.header__menu-link:active::after {
  color: var(--dark-orange);
  background-color: var(--dark-orange);
  transform: scaleX(1);
}

.header__search-btn,
.header__close-btn {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  line-height: 1;
  color: var(--dark);
  outline: none;
  transition: var(--short);
}

/* .header__search-btn:hover:not(:active) {
  color: var(--orange);
  cursor: pointer;
} */

.header__search-btn:focus-visible:not(:hover):not(:active),
.header__close-btn:focus-visible:not(:hover):not(:active) {
  outline: 2px solid var(--orange);
  outline-offset: 3px;
}

.header__search-btn:active,
.header__close-btn:active {
  color: var(--dark-orange);
}

.header__search-form {
  position: absolute;
  z-index: 14;
  right: 49px;
  top: 5px;
  display: none;
  width: 541px;
  padding: 18px 13px 18px 32px;
  border-radius: 24px;
  background-color: var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
  transform-origin: right;
}

.header__search-form.is-opened {
  display: flex;
  animation-name: search-open;
  animation-duration: .3s;
}

.header__search-form.is-closed {
  animation-name: search-close;
  animation-duration: .3s;
}

.header__search-input {
  flex-grow: 1;
  width: 222px;
  margin-right: 13px;
  padding-bottom: 2px;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--gray-border);
  font-weight: var(--medium);
  font-size: 18px;
  transition: border-color var(--short);
}

.header__search-input::placeholder {
  transition: opacity var(--short);
}

.header__search-input:focus::placeholder {
  opacity: 0;
}

.header__search-btn--submit {
  margin-right: 22px;
}

.header__close-btn {
  cursor: pointer;
}

@media (max-width: 1280px) {
  .header {
    display: flex;
  }

  .header__container {
    width: 100%;
  }

  .header__burger {
    position: relative;
    z-index: 13;
    display: inline-block;
    width: 30px;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .header__logo {
    width: 150px;
    min-height: 48px;
    margin-right: 0;
  }

  .header__menu-wrap {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    display: none;
    width: 420px;
    height: 100vh;
    padding: 162px 80px 40px 49px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    transform: translateX(-100%);
  }

  .header-menu {
    display: block;
    overflow-y: auto;
    max-height: 100%;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }

  .header__menu-wrap.is-active {
    display: block;
    transform: translateX(0);
    animation-name: menu-open;
    animation-duration: .3s;
  }

  .header__menu-wrap.is-closed {
    animation-name: menu-close;
    animation-duration: .3s;
  }

  .header__menu-item {
    margin-bottom: 60px;
  }
}

@media (max-width: 1024px) {
  .header {
    margin-bottom: 22px;
  }
}

@media (max-width: 800px) {
  .header {
    position: relative;
    min-height: 69px;
    margin: 0;
    padding: 0;
    border-radius: 0 0 24px 24px;
  }

  .header__container {
    position: static;
  }

  .header__menu-wrap {
    padding-top: 145px;
  }

  .header__search-form {
    top: 0;
    right: 0;
    width: 100%;
    min-width: 539px;
    padding: 28px 13px 18px 32px;
    border-radius: 0 0 24px 24px;
  }


}

@media (max-width: 576px) {
  .header {
    padding: 0;
    border-radius: 0 0 16px 16px;
  }


  .header__logo {
    width: 110px;
    min-height: 35px;
  }

  .header__menu-wrap {
    width: 100%;
    padding: 79px 15px 40px;
  }

  .header-menu {
    font-size: 16px;
    line-height: 20px;
  }

  .header__menu-item {
    margin-bottom: 32px;
  }

  .header__search-form {
    top: 0;
    right: 0;
    width: 100vw;
    min-width: 320px;
    min-height: 72px;
    border-radius: 0px 0px 16px 16px;
  }

  .header__search-input {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (any-hover: hover) {
  .header__menu-link:hover:not(:active)::after {
    transform: scaleX(1);
  }

  .header__search-btn:hover:not(:active),
  .header__close-btn:hover:not(:active) {
    color: var(--orange);
  }

  .header__search-input:hover {
    border-color: var(--orange);
  }
}
